/*
	Default Values
*/

h1,
h2,
h3,
h4 {
	color: white;
}

/*
	Navbar Section
*/

.nav-bg-color {
	background-color: #343a40 !important;
}

.nav-text-color {
	color: white !important;
}



/*	
	Front Page
*/

.main-header {
	width: 100%;
	height: 500px;
	background-color: black; 
	border-bottom: 4px solid #343a40;
}

.background-banner-image {
    background: url(../images/giammarco-boscaro.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.moto-text-container {
	position: absolute;
    height: 5em;
    top: 35%;
    left: 0;
    width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.styling-button {
    margin: 0 auto;
    width: 15%;
    border: 2px solid white;

}

.styling-button label {
	margin-bottom: 0px;
	padding: 5px;
}

/*
	About Us Section
*/
.about-us-section {
	padding: 60px 0px;
}

.about-us-section h2 {
	color: #343a40;
	text-align: center;
}

.about-us-underline {
	border-bottom: 2px solid #343a40;
    width: 7em;
}

.about-us-section p {
	/*width: 48em;*/
	text-align: center;
    margin: 0 auto;
}

.blocks-padding {
	padding: 0px;
}

.about-us-subtitle-1 {
	height: 280px;
	width: 100%;
	/*background-color: #04202C;*/
	border: 2px solid #04202C;
	margin-top: 25px;
}

.sub-title-1 {
	height: 45px;
	width: 100%;
	background-color: #04202C;
}

.about-us-subtitle-2 {
	height: 280px;
	width: 100%;
	/*background-color: #304040;*/
	border: 2px solid #304040;
	margin-top: 25px;
}

.sub-title-2 {
	height: 45px;
	width: 100%;
	background-color: #304040;
}

.about-us-subtitle-3 {
	height: 280px;
	width: 100%;
	/*background-color: #5B7065;*/
	border: 2px solid #5B7065;
	margin-top: 25px;
}

.sub-title-3 {
	height: 45px;
	width: 100%;
	background-color: #5B7065;
}

/*
	First Banner
*/

.first-banner {
    margin: 80px 0px;
	height: 400px;
	background-color: black;
	border-bottom: 2px solid #343a40;
	border-top: 2px solid #343a40;
}

.bg-banner {
	background: url(../images/mikhail-pavstyuk-8436.jpg) center center;
    background-size: cover;
    height: 100%;
}

.banner-button {
	position: relative;
    top: 10em;
    width: 450px;
	border: 4px solid white;
	margin: auto auto;
}

.banner-button h2 {
	text-align: center;
	margin: 0px;
	padding: 20px 0px 25px 0px;
}

/*
	Services Section
*/

.service-section {
	text-align: center;
}

.service-section h2 {
    color: #343a40;
}

.first-practice h3,
.second-practice h3,
.third-practice h3,
.fourth-practice h3,
.fifth-practice h3,
.sixth-practice h3 {
	color: #343a40;
	text-align: center;
}

.first-practice h3:before,
.second-practice h3:before,
.third-practice h3:before,
.fourth-practice h3:before,
.fifth-practice h3:before,
.sixth-practice h3:before {
	/*width: 64px;
    height: 64px;
    line-height: 64px;*/
    margin-right: 0.75em;
    /*font-size: 32px;
    top: 0.2em;*/
}

.first-practice p,
.second-practice p,
.third-practice p,
.fourth-practice p,
.fifth-practice p,
.sixth-practice p {
	text-align: justify;
}

/*
	Contact Section
*/

.contain-contact-us {
	width: 100%;
	padding-top: 50px;
}

.contact-us-section h2 {
	color: white;
}

.bg-contact-us-container {
	background-color: aliceblue;
	height: 645px;
	background: url(../images/vadim-sherbakov-68.jpg) center center;
    background-size: cover;
}

.contact-us-underline {
	border-bottom: 2px solid white;
    width: 7em;
}

.contacts-labels {
	color: #b9a7a7;
}

.name-input,
.email-input,
.message-input,
.subject-input {
	width: 100%;
	background-color: transparent;
	color: #b9a7a7;
	border: 2px solid #b9a7a7;
    padding: 2px 10px;
}

.email-input {
	width: 100%;
}

.subject-input {
	width: 100%;
}

.submit-btn {
	width: 100%;
}

.submit-btn {
	background-color: transparent;
	color: #b9a7a7;
	border: 2px solid #b9a7a7;
	margin-top: 15px;
}


/*.contact-container {
	height: 600px;
}

.contact-form {
	width: 50%;
	height: 100%;
	background-color: yellow;
	display: none;
}

.contact-details {
	float: right;
	width: 50%;
	height: 100%;
	background-color: green;
}*/