/*
	Default Values
*/

h1,
h2,
h3,
h4 {
	color: white;
}





/*	
	Front Page
*/

.main-header {
	width: 100%;
	height: 500px;
	background-color: black; 
	border-bottom: 4px solid #343a40;
}

.background-banner-image {
    background: url(../images/giammarco-boscaro.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.moto-text-container {
	position: absolute;
    height: 5em;
    top: 35%;
    left: 0;
    width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}

.styling-button {
    margin: 0 auto;
    width: 15%;
    border: 2px solid white;

}

.styling-button label {
	margin-bottom: 0px;
	padding: 5px;
}

/*
	About Us Section
*/
.about-us-section {
	padding: 60px 0px;
}

.about-us-section h2 {
	color: #343a40;
	text-align: center;
}

.about-us-underline {
	border-bottom: 2px solid #343a40;
    width: 7em;
}

.about-us-section p {
	width: 48em;
	text-align: center;
    margin: 0 auto;
}

.blocks-padding {
	padding: 0px;
}

.first-container {
	height: 70px;
	background-color: #04202C;
}

.second-container {
	height: 70px;
	background-color: #304040;
}

.third-container {
	height: 70px;
	background-color: #5B7065;
}

.first-text-containment {
	border: 2px solid #04202C;
	height: 70px;
}

.second-text-containment {
	border:2px solid #304040;
	height: 70px;
}

.third-text-containment {
	border: 2px solid #5B7065;
	height: 70px;
}